<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>
    </head>
    <body ng-app="app">
        <div class="container">
            <% include partials/header %>
            <div ng-view></div>
        </div>
    </body>
    <% include partials/foot_scripts %>
</html>